body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: none;
}

#bar {
    display: block;
    position: fixed;
    left: 90%;
}

.star {
    color: gold;
}

#image {
    margin-top: 0%;
}

.details {
    margin: auto;
    display: inline;
    visibility: visible;
}

.details::before {
    content: url(images/book-item.jpg);
}

#image {
    display: none;
}

button {
    border: none;
    padding: 10px 50px;
    background-color: #eb3666;
    color: white;
}

button:hover {
    background-color: #ec4b75;
    cursor: pointer;
}