body {
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav {
    display: none;
}

#logo {
    display: block;
    position: fixed;
    padding: 10px;
    background-color: #fffdfd;
}

#bar {
    display: block;
    position: fixed;
    left: 90%;
    padding: 10px;
    background-color: #f5f0f0;
}

.star {
    color: gold;
}

.book-img {
    width: 60%;
    height: 30px;
    margin-top: 0%;
}

.book-data {
    margin: auto;
    display: inline;
}

.book-data::before {
    height: 40px;
    content: url(images/book-item.jpg);
}

button {
    border: none;
    padding: 10px 50px;
    background-color: #eb3666;
    color: white;
}

button:hover {
    background-color: #ec4b75;
    cursor: pointer;
}

main {
    margin: 15px;
    padding: 0%;
}