/* Write your CSS below. Try to make it responsive (i.e. no horizontal scroll) */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container li {
    margin-right: 30px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    display: inline;
}

#bar {
    display: none;
}

.star {
    color: gold;
}

.details {
    float: right;
    margin-right: 800px;
}

button {
    border: none;
    padding: 10px 50px;
    background-color: #eb3666;
    color: white;
}

button:hover {
    background-color: #ec4b75;
    cursor: pointer;
}